%h1 Hiring Postdocs

%p Postdoctoral position in algorithmic synthetic biology project EECS + Bioengineering, University of California, Berkeley [ Planned start: Summer/Fall 2012 ]

%p Applications are invited for a postdoctoral position in a project on computational inference of enzymatic pathways that can produce polymers, life-saving drugs, and biofuels. Our approach is to harness experimental data-sets for in-silico prediction of new ways to engineer bacteria.

%p We seek researchers with expertise in data mining, program synthesis, or machine learning. Collaborating faculty in Computer Science and Bioengineering will jointly mentor the postdoc.

%h3 Project Description

%p Our goal is in-silico prediction of novel metabolic pathways for production of polymers, life-saving drugs, and biofuels. We are building tools that will find a large user-base in the synthetic biology community. These computational tools require new biology-motivated algorithms in program synthesis, data mining, and machine learning. The project's results have the potential to result in high visibility publications in both computer science and biology.

%p Our research is data-driven. While the previous decade has focused on gene sequencing, recent improvements in wet-lab methodology allow computational inference to move up the level of abstraction and interpret the functional characteristics of sequenced genes, such as how proteins expressed by those genes interact with one another. We are designing algorithms and tools that suggest new enzymatic pathways and thus direct experimental wet-lab work towards engineering new bacteria.

%h3 Topics of research

%p An enzymatic pathway is a sequence of enzyme transforms that convert chemicals in the bacteria into a desired output chemical. The first component of the project infers abstract chemical and biochemical rules of transformation from data about known enzymes. This research involves development of novel data mining, machine learning, and NLP algorithms to process large biological data in enzymatic databases and biological literature.

%p The second component uses the inferred abstract transformers to predict novel biochemical reaction chains. This research involves developing new program synthesis, machine learning, and AI planning techniques to efficiently explore the space of all possible chemical transformations.

%h3 Profile

%p Candidates must have a PhD in Computer Science with a strong background in either program verification/synthesis, data mining, machine learning, or AI planning. Demonstrated skills in additional areas of computer science (theory, systems, databases) are welcome. No prior background in biology is expected but is beneficial. Eagerness to understand biochemistry relevant to the project is a must. Starting date is negotiable (ideally, September 2012). This is a DARPA funded project, and salary will be competitive with top academic postdoctoral positions. The scholar will be advised by all involved faculty but will choose their home in either Computer Science or Bioengineering.

%h3 Application

%p To apply, send a resume, a list of publications, and names of two to three references to the PI Prof. J. Christopher Anderson (jcanderson@berkeley.edu).

%p The other investigators on the project include Dr. Saurabh Srivastava (saurabhs@cs.berkeley.edu), Prof. Rastislav Bodik (bodik@cs.berkeley.edu), and Prof. Sanjit Seshia (sseshia@eecs.berkeley.edu).