%h2 Project Overview

%p Consider the task of generating a particular chemical of interest, e.g., an antibacterial drug or a biofuel. Either it can be done through traditional, expensive, chemical synthesis processes or it can be biosynthesized. While most chemicals are not naturally synthesized, DNA synthesis technology allows experimentalists to build DNA from raw bases, and then transformation introduces the DNA into E. coli or Yeast. These modified strains can do complicated chemistry using enzymes encoded in the new DNA.

%p Our task in this project is to generate operators from existing biochemical data, which are then the core operators over which a program is synthesized that when inserted into the E. coli will make it a "chemical microbial factory".

%p Life-saving drugs (e.g., antibiotics), biofuels (e.g., butanol), and polymers are our potential target chemicals. We use algorithmic ideas from program synthesis, data mining, and machine learning to infer most likely paths to novel chemicals.
