%h2 Publications
%h4
  Pathway Synthesis using the Act Ontology
  %small
    [
    %a{href:"papers/iwbda2012.pdf"} doc
    ]
%small
  Fourth International Workshop on Bio-Design Automation (IWBDA) at DAC
  [ 
  %a{href:"http://iwbda2012.csb.pitt.edu/mediawiki/index.php/Main_Page"} url
  ]
  <br>
  Saurabh Srivastava, Jonathan Kotker, Stephi Hamilton, Paul Ruan, Jeff Tsui, J. Christopher Anderson, Rastislav Bodik, Sanjit A. Seshia

