%h2 Publications
%h4
  Pathway Synthesis using the Act Ontology
  %small
    [
    %a{href:"papers/iwbda2012.pdf"} doc
    ]
%small
  Fourth International Workshop on Bio-Design Automation (IWBDA) at DAC
  [ 
  %a{href:"http://iwbda2012.csb.pitt.edu/mediawiki/index.php/Main_Page"} url
  ]
  <br>
  Saurabh Srivastava, Jonathan Kotker, Stephi Hamilton, Paul Ruan, Jeff Tsui, J. Christopher Anderson, Rastislav Bodik, Sanjit A. Seshia

%h4
  Biochemistry as a Programming Language
  %small
    [
    %a{href:"papers/obt.pdf"} doc
    ]
%small
  Off The Beaten Track 2013
  [ 
  %a{href:"http://goto.ucsd.edu/~rjhala/OBT2013/"} url
  ]
  <br>
  Saurabh Srivastava, Tim Hsiau, Sarah Chasins, Jon Kotker, Yen-Sheng Ho, Paul Ruan, Jeff Tsui, Stephi Hamilton, Jene Li, J. Christopher Anderson, Sanjit A. Seshia, Rastislav Bodik

%img{:src => 'images/act_poster.gif', :class => 'large_image'}
