%h1 People

%table{:align => 'center'}
  %tr
    %td
      %a{:href => "http://www.cs.berkeley.edu/~saurabhs"}
        %img{:src => 'images/saurabh-srivastava.gif', :class => 'people_pic'}
    %td
      %a{:href => "http://andersonlab.qb3.berkeley.edu/"}
        %img{:src => 'images/chris-anderson.gif', :class => 'people_pic'}
    %td
      %a{:href => "http://www.eecs.berkeley.edu/~bodik/"}
        %img{:src => 'images/ras-bodik.gif', :class => 'people_pic'}
    %td
      %a{:href => "http://www.eecs.berkeley.edu/~sseshia/"}
        %img{:src => 'images/sanjit-seshia.gif', :class => 'people_pic'}
  %tr
    %td{:class => 'people_text'}
      Saurabh Srivastava<br>Postdoc<br>Computer Science
    %td{:class => 'people_text'}
      Christopher Anderson<br>Assistant Professor<br>Bioengineering
    %td{:class => 'people_text'}
      Rastislav Bodik<br>Associate Professor<br>Computer Science
    %td{:class => 'people_text'}
      Sanjit A. Seshia<br>Associate Professor<br>Computer Science
  %tr
    %td
      %img{:src => 'images/tim-hsiau.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/jon-kotker.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/paul-ruan.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/jeff-tsui.gif', :class => 'people_pic'}
  %tr
    %td{:class => 'people_text'}
      Tim Hsiau<br>Graduate Student<br>Bioengineering
    %td{:class => 'people_text'}
      Jonathan Kotker<br>Graduate Student<br>Computer Science
    %td{:class => 'people_text'}
      Pual Ruan<br>Undergraduate<br>Computer Science
    %td{:class => 'people_text'}
      Jeff Tsui<br>Undergraduate<br>Computer Science
  %tr
    %td
      %img{:src => 'images/default-person.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/jene-li.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/default-person.gif', :class => 'people_pic'}
    %td
      %img{:src => 'images/default-person.gif', :class => 'people_pic'}
  %tr
    %td{:class => 'people_text'}
      Stephi Hamilton<br>Undergraduate<br>Bioengineering
    %td{:class => 'people_text'}
      Jene Li<br>Undergraduate<br>Computer Science
    %td{:class => 'people_text'}
      Sarah Chasins<br>Graduate Student<br>Computer Science
    %td{:class => 'people_text'}
      Yen-Sheng Ho<br>Graduate Student<br>Computer Science
