%h2 Talks

%h4
  Pathway Synthesis using the Act Ontology
%small
  4th International Workshop on Bio Design Automation at DAC'2012, June 3, 2012 
  [ 
  %a{href:"http://iwbda2012.csb.pitt.edu/mediawiki/index.php/Main_Page"} url
  ]
  <br>
  Presented by: Saurabh Srivastava


<br>
%h4
  Algorithmic Synthesis for Biology
%small
  PL Retreat, June 3, 2012 
  <br>
  Presented by: Saurabh Srivastava

<br>
%h4
  A programming languages view of synthetic biology
%small
  Open Source Quality Lunch, Mar 14, 2012
  <br>
  Presented by: Saurabh Srivastava

<br>
%h4
  Algorithmic Synthesis for Synthetic Biology
%small
  Dagstuhl seminar on Program Synthesis, Apr 09-13, 2012
  [ 
  %a{href:"http://www.dagstuhl.de/en/program/calendar/semhp/?semnr=12152"} url
  ]
  <br>
  Presented by: Saurabh Srivastava

<br>
%h4
  Computational Methods for Inferring Synthetic Biochemical Pathways
%small
  Humboldt Conference, Jan 3rd, 2012
  <br>
  Presented by: Saurabh Srivastava

<br>
%h4
  ACT Ontology and its Tools: A hierarchical formalism for describing the biochemistry of synthetic biology
%small
  SB5.0, Stanford, June 15-17, 2011
  [ 
  %a{href:"http://sb5.biobricks.org/"} url
  ]
  <br>
  Presented by: Saurabh Srivastava
