%h1 Talks

%p Pathway Synthesis using the Act Ontology [slides] 
4th International Workshop on Bio Design Automation at DAC'2012, June 3, 2012, [webpage] 
%p Presented by: Saurabh Srivastava

%p Algorithmic Synthesis for Biology [slides] 
PL Retreat, May 17, 2012, [webpage] 
Presented by: Saurabh Srivastava

%p A programming languages view of synthetic biology [slides] 
Open Source Quality Lunch, Mar 14, 2012, [webpage] 
Presented by: Saurabh Srivastava

%P Algorithmic Synthesis for Synthetic Biology [slides] 
Dagstuhl seminar on Program Synthesis, Apr 09-13, 2012, [webpage] 
Presented by: Saurabh Srivastava

%p Computational Methods for Inferring Synthetic Biochemical Pathways [slides] 
Humboldt Conference, Jan 3rd, 2012, [webpage] 
Presented by: Saurabh Srivastava

%p ACT Ontology and its tools: A hierarchical formalism for describing the biochemistry of synthetic biology [slides] 
SB5.0, Stanford, June 15-17, 2011, [webpage] 
Presented by: Saurabh Srivastava/poster
