<br>

Copyright © 2012 Berkeley Pathway Synthesis Group

%table{:align => 'right'}
  %tbody
    %tr 
      %td
        %img{:src => 'images/nsf.gif', :class => 'footer_pic'}
      %td
        %img{:src => 'images/darpa.gif', :class => 'footer_pic'}
      %td
        %img{:src => 'images/synberc.gif', :class => 'footer_pic'} 
