<br>

Copyright © 2012 Berkeley Pathway Synthesis Group

%table{:align => 'right'}
  %tbody
    %tr 
      %th
        %img#thumb{:src => 'images/nsf.jpg', :class => 'footer_pic'}
      %th
        %img#thumb{:src => 'images/darpa.jpg', :class => 'footer_pic'}
      %th
        %img#thumb{:src => 'images/synberc.jpg', :class => 'footer_pic'} 
